<%- include('../user/partial/userheader2.ejs') %>
<br>
<br>
<br>

<main class="main">
    <div class="page-header text-center" style="background-image: url('userassets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./index-5">Home</a></li>
                <li class="breadcrumb-item"><a href="./shop">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    <form action="#">
                        <input type="text"  class="form-control" required id="checkout-discount-input" data-toggle="modal" data-target="#exampleModalLong" value="<%= couponCode %>" style="font-weight: 600; font-size: small;" placeholder="Click here to Get code">
                        <button onclick="applycoupon('<%= totalamount %>')" id="button">Have a coupon? <span>Click here to enter your code</span></button>
                    </form>
                </div><!-- End .checkout-discount -->   
                <form id="checkout-form" method="post">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                    <div class="d-flex justify-content-end pb-2">
                                        <a href="/addAddress" type="button" class="btn btn-outline-primary-2"> Add Address</a>
                                    </div>
                                    <% if(address.length > 0) { %>
                                       <% address.forEach((address) => { %>
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <input class="form-check-input pt-5" required type="radio" name="address"
                                                    id="flexRadioDefault1"
                                                    value="<%=address.name %>,<%=address.mobile %>,<%=address.alternativenumber %>,<%=address.houseName %>,<%=address.city %>,<%=address.state %>,<%=address.pincode %>">
                                                <ul>
                                                    <h3 class="card-title"> Address</h3>
                                                    <li>Name : <%=address.userName %></li>
                                                    <li>mobile : <%=address.mobile %></li>
                                                    <li>altrenativeMob : <%=address.alternativenumber %></li>
                                                    <li>houseName : <%=address.houseName %></li>
                                                    <li>city : <%=address.city %></li>
                                                    <li>state : <%=address.state %></li>
                                                    <li>pincode : <%=address.pincode %></li>
                                                    <a href="/editAddress?id=<%= address._id %>">
                                                        <button type="button" class="btn btn-outline-primary btn-rounded"
                                                            style="color: black; border-color: rgb(46, 202, 88);">Edit</button>
                                                    </a>
                                                    <a href="">
                                                        <a class="btn btn-outline-primary btn-rounded" type="button"
                                                            style="color: black; border-color:rgb(46, 202, 88);"
                                                            onclick="deleteAddress('<%= address._id %>')">Delete</a>
                                                    </a>
                                                </ul>
                                            </div><!-- End .card-dashboard -->
                                        </div>
                                        <% }) } %>
                                </div><!-- End .col-lg-12 -->
                            </div><!-- End .row -->
                            <textarea class="form-control" cols="30" rows="4"
                                placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary" style="margin-top: 57px;">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% items.forEach((value, index) => { %>
                                        <tr>
                                            <td><a href="#"><%= value.product.productName %></a></td>
                                            <td id="total"><%= value.Totalprice %></td>
                                        </tr>
										<% }) %>
                                    </tbody>
                                    <tfoot>
										<tr>
											<td  colspan="2">Subtotal:</td>
                                            <td id="Total"><%= totalamount  %></td>
                                        </tr>

										<tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr>
                                            <td>Discount:</td>
                                            <td id="discount">₹.00</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="accordion-summary">
                                    
                                    <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                            <input required type="radio" id="wallet" name="payment" value="wallet">
                                        </div>
                                        <a href="hidden" class="d-block text-dark" for="pay1">Wallet payment</a>
                                      </div>
                                        <p><b>Availabel wallet balance: </b><span style="color: black;"> $<%= userWallet %></span></p>
                                 
                                     <div class="d-flex align-items-center">
                                         <div class="mr-2">
                                             <input required type="radio" id="COD" name="payment" value="COD">
                                         </div>
                                         <a href="hidden" class="d-block text-dark" for="pay1">Cash On Delivery</a>
                                     </div>
                                     <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                          <input required type="radio" id="payment" name="payment" value="onlinePayment" checked>
                                        </div>
                                        <a href="" class="d-block text-dark">Razor Pay</a>
                                    </div>
                                    
                                    
                                   </div><!-- End .accordion -->
                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->


<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom:none;">
        <% if(coupons.length > 0){%>
          <h5 class="modal-title" id="exampleModalLongTitle">Available coupons</h5>
          <%}else{%>
            <h5 class="modal-title" id="exampleModalLongTitle">No coupons available</h5>  
            <%}%>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body;" style="padding: 5%;" >

        
            <% coupons.forEach((coupons)=>{ %>

               <div class="card text-white bg-warning mb-3" style="max-width: 100%; align-items: center; border-color: black; border:1%;">
                <div class="card-header" style="font-size: 400%;"><%= coupons.couponName %></div>
                <div class="card-body">
                  <h5 class="card-title" style="font-size:10vb;"><%= coupons.discountPercentage %>% <span style="color: rgb(119, 218, 19);">Dis</span>count</h5>
                  <p class="card-text" style="color: black;">Coupon applicable for purchase above <%= coupons.criteriaAmount %>/- rupees</p>
                  <% if( coupons.activationDate > todayDate ){%>
                         <h6 style="font-weight: 800;color: rgb(0, 0, 0);">Coming Soon!</h6>
                    <%}else{%>
                  <button  onclick="getcoupon('<%= coupons.couponCode  %>')" type="submit"  class="btn btn-outline-primary btn-rounded" ><span style="color: aliceblue;">Get coupon</span></button>
                    <%}%>
                </div>
              </div>
               <% }) %>
          

        </div>
      </div>
    </div>
  </div>


<!-- ===============modal=============== -->


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
$("#checkout-form").submit((e) => {

let address = $("input[name=address]:checked").val();
let total = document.getElementById("total").innerHTML;// Modified to use jQuery instead of plain JavaScript
let payment = $("input[name=payment]:checked").val();
let Subtotal = document.getElementById("Total").innerHTML;
e.preventDefault();
$.ajax({
    url: "/checkout",
    method: "post",
    data: {   
        Total: total,
        address,
        payment: payment,
        Subtotal,
       

    },
// here were the issue
    success: (response) => {
        console.log(response);
        if (response.codsuccess == true || response.walletSuccess) {
            location.href = `/orderSuccess/${response.orderid}`;
        } else {
            razorPayment(response.order);
        }
    }
});
});


</script>

<script>
function razorPayment(order){
    var options = {
        "key": "rzp_test_1U4nqU3IHdsXcp", // Enter the Key ID generated from the Dashboard
        "amount":order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "VarLet", //your business name
        "description": "Test Transaction",
        "image": "",
        "order_id":order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
                verifyPayment(response, order)
              },
        "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
            "name": "Gaurav Kumar", //your customer's name
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    
    
    function verifyPayment(payment, order) {
    // const amount2 = document.getElementById("total").innerHTML;
    // const paymentId = payment.razorpay_payment_id; // Extract the payment ID from the response
    // const signature = payment.razorpay_signature; // Extract the signature from the response
    
    $.ajax({
        url: "/verify-payment",
        method: "post",
        data: {
            // payment_id: paymentId,
            // signature: signature,
            // amount2: amount2,
            payment,
            order,
        },
        success: (response) => {
            console.log(response,'hsbfhsbhfbsh');
    if (response.onlineSuccess === true) {
        location.href = `/orderSuccess/${response.orderid}`;
    } else if (response.walletSuccess === true) {
        alert(response.orderid);
        location.href = `/orderSuccess/${response.orderid}`;
    }
    else if(response.codsuccess === true){
        location.href = `/orderSuccess/${response.orderid}`;
    }
}

    });
}


 function deleteAddress(id) {
              Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "Cancel",
              }).then((result) => {
                if (result.isConfirmed) {
                  $.ajax({
                    url: "/deleteAddress",
                    data: {
        
                      id: id,
                    },
                    method: "post",
                    success: (response) => {
                      if ((response.remove = true)) {
                        location.reload();
                      }
                    },
                  });
                }
              });
            }

    function getcoupon(code) {
        couponcode = document.getElementById('checkout-discount-input');
        couponcode.value = code;
    }

function applycoupon(amount){
    const code = document.getElementById('checkout-discount-input').value
   $.ajax({
       url:'/applyCoupon',
       data:{
        couponCode : code,
        amount
       },
       method: 'post',
       success:(response)=>{
          if((response.verifiedsuccess)){
            document.getElementById('total').innerHTML = response.lastTotal
            document.getElementById('discount').innerHTML = response.percentage

            swal.fire({
            title: 'Success',
            text: 'Coupon redeemed successfully',
            icon: 'success',
            timer: 2500,
            showConfirmButton: false
            })
          } else if((response.usedSuccess)){
            swal.fire({
            title: 'Success',
            text: 'Coupon already used!',
            icon: 'error',
            timer: 2500,
            showConfirmButton: false
            }) 
          } else if((response.notdate)){
            swal.fire({
            title: 'error',
            text: 'coupon expired!',
            icon: 'error',
            timer: 2500,
            showConfirmButton: false
            })
          } else if((response.critirianot)){
            swal.fire({
            title: 'error',
            text: 'You need to purchase more!',
            icon: 'error',
            timer: 2500,
            showConfirmButton: false
            })
          } else if((response.limitsuccess)){
            swal.fire({
            title: 'error',
            text: 'Sorry coupon not valid',
            icon: 'error',
            timer: 2500,
            showConfirmButton: false
            })
          } else{
            swal.fire({
            title: 'error',
            text: 'Invalid coupon',
            icon: 'error',
            timer: 2500,
            showConfirmButton: false
            })

          }
       }
   })
   

 }

</script>


    <%- include('../user/partial/userfooter.ejs') %>
