<%- include('../user/partial/userheader2.ejs')  %>

<br>
<br>
<br>
<br>
<br>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid #ccc;
    }
    th, td {
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    h2 {
      text-align: center;
    }


  </style>
</head>
<body>
<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Payment Method</th>
      <th>Status</th>
      <th>Details</th>
    </tr>
  </thead>
  <% if(orders.length > 0){ %>
    <% orders.forEach((order, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= order.orderId %></td>
    <td><%= order.items[0].date.toLocaleDateString() %></td>
        <td>$<%= order.totalAmount %></td>
        <td><%= order.paymentMethod %></td>
        <td id="<%= order._id %>"><b><%= order.status %></b></td>
        <td>
          <% if (order.status === 'Delivered' && order.status !=='returned') { %>
            <button style="background-color: black; color: white;"><a onclick="returnorder('<%=order._id%>')">Return</a></button>
          <% } else if(order.status !== 'returned' && order.status !== 'cancelled' ) { %>
            <button style="background-color: black; color: white;" onclick="cancelOrder('<%= order._id %>','<%= order.totalAmount %>')">Cancel</button>
          <% } %>
        </td>
        <td><button><a href="/orderdetails?id=<%= order._id %>">View</a></button></td>
      </tr>   
    <% }) %>
  <% } %>
</table>
<br>
<br>
<br>
<br>

                        
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
function cancelOrder(orderId,totalAmount) {
  $.ajax({
    url: `/cancelOrder/${orderId}`,
    method: 'post',
    data:{totalAmount},
    success: function(response) {
      if (response.success) {
        location.reload();
      } else {
        alert('Failed to cancel order.');
      }
    }
  });
}

function returnorder(orderId) {
  $.ajax({
    url: `/returnorder`,
    data:{orderId},
    method:'post',
    success: function(response) {
      if(response.success){
         document.getElementById(orderId).innerHTML = 'Returned';
      }
    }
  })
}
</script>
</body>



