<div class="container quickView-container">
	<div class="quickView-content">
		<div class="row">
			<div class="col-lg-7 col-md-6">
				<div class="row">
					<% if (product.length > 0) { %>
						<% for (let i = 0; i < product.length; i++) { %>
					<div class="product-left">
						<a href="" class="carousel-dot active">
							<% for (let j = 0; j < product[i].images.length; j++) { %>
								<a href="/product-details/<%= product[i]._id %>" class="<%= j === 0 ? 'active' : '' %>">
									<img src="/productimages/<%= product[i].images[j] %>" alt="product desc">
								</a>
								<% } %>
						</a>
					</div>
					<div class="product-right">
						<div class="owl-carousel owl-theme owl-nav-inside owl-light mb-0" data-toggle="owl" data-owl-options='{
	                        "dots": false,
	                        "nav": false, 
	                        "URLhashListener": true,
	                        "responsive": {
	                            "900": {
	                                "nav": true,
	                                "dots": true
	                            }
	                        }
	                    }'>
		                </div>
					</div>
					<% } %>
					<% } %>
                </div>
			</div>
			<div class="col-lg-5 col-md-6">
				<h2 class="product-title"><%= product.productName%>></h2>
				<h2 class="product-title"><%= product.description%>></h2>
				<h3 class="product-price">$60.00</h3>

                <p class="product-txt">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue.</p>

                <div class="details-filter-row details-row-size">
	                <label for="size">Size:</label>
	                <div class="select-custom">
	                    <select name="size" id="size" class="form-control">
	                        <option value="#" selected="selected">Select a size</option>
	                        <option value="s">Small</option>
	                        <option value="m">Medium</option>
	                        <option value="l">Large</option>
	                        <option value="xl">Extra Large</option>
	                    </select>
	                </div><!-- End .select-custom -->
	            </div>

	            
                <div class="details-filter-row details-row-size">
                    <label for="qty">Qty:</label>
                    <div class="product-details-quantity">
                        <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                    </div><!-- End .product-details-quantity -->
                </div><!-- End .details-filter-row -->

                <div class="product-details-action">
                    <div class="details-action-wrapper">
                        <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                    </div><!-- End .details-action-wrapper -->
                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                </div>
                </div>
			</div>
		</div>
	</div>
</div>